{% extends 'base.html.twig' %}



{% block body %}
    <p>
        1. Cooking
    </p>
    <p>
        2. Movie Nights(a little bit of grooming)
    </p>
    <p>
        3. Night Walks(gets a little cold)
    </p>


{% endblock  %}